extends layout

block content 
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
  
  #form.row
    .row.col-lg-6
      form(action='', method='post', role='form')#addAssignment
        - if (error == 'val')
          .alert.alert-danger(role='alert') All fields required, please try again
        - if (error == 'range')
          .alert.alert-danger(role='alert') Points must be between 0-100. Please try again
        .form-group.col-lg-12
          label(for='name') Name
          input(type='text', name='name').form-control#name
        .form-group.col-lg-12
          label(for='due') Due
          input(type='text', name='due').form-control#due
        .form-group.col-lg-12
          label(for='points') Points
          input(type='text', name='points').form-control#points
        .form-group.col-lg-12
          label(for='status') Status
          select(name='status').form-control#status
            option Not even on my radar
            option Due date sounds vaguely soon
            option It would be wise to start working on this
            option I still have a couple more days
            option Due tomorrow? Do tomorrow.
            option Hastily submitted
        button(type='submit', form='addAssignment', value="Submit").btn.btn-primary Add this assignment
